body{
  font-family: "Open Sans", sans-serif;
  color: black;
  margin: 10px 50px 10px 50px;
  background-color: black;
}

h1,h2{
  font-family: "Oswald", sans-serif";
}

img{
  float: left;
  margin-right: 10px;
  width: 300px;
}
